/* Question 1 - Edit the HTML to apply this class */
.color-word {
	color: red;
}

/* Add Question 2 CSS below: */
.color-blue {
	color: blue;
}

.color-orange {
	color: orange;
}

.color-yellow {
	color: yellow;
}

.color-green {
	color: green;
}

.color-purple {
	color: purple;
}

/* Question 3/4 */
.highlight-me {
	color: black;
	font-size: 16px;
	background: yellow;
}

/* Question 5 */
.side-by-side {
	width: 120px;
	height: 70px;
	background-color: black;
	margin: 10px;
	display: inline-block;
}

/* Question 6 */
.gone {
	background-color: lightgrey;
	color: grey;
	font-size: 30px;
	width: 100px;
	display: none;
}

/* Question 7 */
.increase-orange {
	background-color: orange;
	display: inline-block;
	padding: 10px;
}

/* Question 8 */
.separate-me {
	background-color: green;
	width: 200px;
	height: 20px;
	margin-bottom: 10px;
}

/* Question 9 */
.user-friendly {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	margin-right: 5px;
}

/* Question 10 */
.static {
	background-color: #00ffff;
	text-align: center;
	width: 100px;
	height: 100px;
}
.center-me {
	display: inline-block;
	line-height: 100px;
}

/* Question 11 */
.left-upward {
	width: 200px;
	height: 60px;
	background-color: yellowgreen;
	position: relative;
	z-index: -1;
	top: -50px;
	left: -50px;
}

/* Question 12 */
.fixed-btn {
	background-color: pink;
	width: 130px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: black;
	position: fixed;
	right: 10px;
	top: 10px;
}

/* Question 13 */
.position-20-40 {
	background-color: #bb00ff;
	width: 200px;
	height: 100px;
	top: 20px;
	left: 40px;
}

/* Question 14, 15 */
.dont-move {
	width: 200px;
	height: 50px;
	background-color: grey;
}
.move-me {
	width: 220px;
	height: 60px;
	background-color: blue;
	left: 30px;
	top: -30px;
	position: relative;
}

.dont-move,
.move-me {
	display: inline-block;
}

/* Question 16 */
.larger-div {
	background-color: red;
	width: 260px;
	height: 260px;
}
.smaller-div {
	background-color: purple;
	width: 200px;
	height: 200px;
	/*  Solution: calculate width of larger div minus width of smaller div, divided by 2. Top value is negative because you want it to move up vertically. */
	position: relative;
	top: calc(((260px * -1) - 200px) / 2);
	left: calc((260px - 200px) / 2);
}

/* Question 17 */
.parent-div {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: lightgrey;
}
.child-div {
	background-color: #4287f5;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
    /* 17(c) answer: */
    left: calc((300px - 50px) / 2);
    bottom: calc((300px - 50px) / 2);
}

/* Question 18, 19 */
.horizontal-stripes-18 {
    width: 15px;
    height: 150px;
    background-color: #168657;
    display: inline-block;
    margin-right: 5px;
}

.vertical-stripes-19 {
    width: 150px;
    height: 15px;
    background-color: #168657;
    display: block;
    margin-bottom: 10px;
}

/* Question 20, 21 */
.replicate-me {
	background-color: lightgrey;
	width: 400px;
	height: 300px;
	position: relative;
}
.replicate-me div {
	width: 120px;
	height: 120px;
	position: absolute;
}
.red-square {
	background-color: #f0002c;
    left: 19px;
    top: 19px;
}
.pink-square {
	background-color: #e0abd8;
    left: 60px;
    top: 93px;
}
.yellow-square {
	background-color: #f0c800;
    left: 120px;
    top: 122px;
}
.green-square {
	background-color: #32a852;
    left: 153px;
    top: 49px;
}
.blue-square {
	background-color: #0486d6;
    left: 171px;
    top: 90px;
}

/* Question 22 */

/* Default Styles */

p {
	font-family: sans-serif;
	color: #666666;
	font-size: 16px;
	max-width: 500px;
}

body {
	padding-bottom: 200px;
}

.img-ref {
	width: 400px;
}

h3 {
	text-decoration: underline;
}
